---
title: "Incorrect Email Registered"
---

Your ACCESS registration has been paused since you declined to verify
the email submitted with your registration.

Please [contact us](https://support.access-ci.org/form/account-assistance) for assistance.

You can also view answers to [Frequently Asked Questions](/faq).
